/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Select-control {
    border: 0.5px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.Select-control {
	background-color: #fff;
	border: 0.5px solid #ccc;
}

.is-focused:not(.is-open)>.Select-control {
	border-color: #e36f32;
	box-shadow: none
}

.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus,
.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover {
	color: #e36f32;
}

.Select-option.is-selected, .Select-option.is-focused {
 background-color:#e36f32;
 background-color:rgba(227,111,50,.04);
 color:#333
}

.Select--multi .Select-value {
	background-color: #e36f320d;
	border-radius: 4px;
	border: 0.5px solid #e36f32;
	color: #e36f32;
	vertical-align: middle
}

.Select--multi a.Select-value-label {
	color: #e36f32;
	padding-top: 10px;
}

.Select--multi .Select-value-icon:hover {
	color: #e36f32
}
.Select--multi.is-disabled .Select-value {
	border: 0.5px solid #e3e3e3;
}
.VirtualizedSelectFocusedOption {
  background-color: rgba(0, 0, 0, 0.04);
}

